<div class="container">
  <div class="row">
    <div class="search-bar col-8">
        <h1>Book Shaw</h1>
          <div class="input-group">
              <input type="text" class="form-control" (input)="showCancelButton($event)" 
               name="title" placeholder="Book's title" #title aria-label="Book's titles" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary cancel" (click)="clearSearch($event)" type="button">x</button>
                <button class="btn btn-success" (click)="searchBooks(title.value)" type="button">Search</button>
              </div>
          </div>
    <p *ngIf="message">{{message}}</p>
    </div>
  </div>
  <app-book-display [booksData]="books"></app-book-display>
</div>